{
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "ignore": ["node_modules/**/*"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-property-mutators",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes"
  ],
  "presets": ["@babel/preset-env", "@babel/preset-flow"]
}
