{
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "ignore": ["node_modules/**/*"],
  "plugins": ["@babel/plugin-transform-flow-strip-types", "@babel/plugin-proposal-class-properties", "@babel/transform-arrow-functions"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "bugfixes": true,
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["ie >= 11"]
        }
      }
    ],
    "@babel/preset-flow"
  ]
}
