{
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "ignore": ["node_modules/**/*"],
  "plugins": ["@babel/plugin-transform-flow-strip-types", "@babel/plugin-proposal-class-properties"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "bugfixes": true,
        "targets": {
          "browsers": ["chrome >= 47", "firefox >= 51", "ie >= 11", "safari >= 8", "ios >= 8", "android >= 4"]
        }
      }
    ],
    "@babel/preset-flow"
  ]
}
