{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "import",
    "flowtype",
    "mocha-no-only"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "amd": true,
    "commonjs": true
  },
  "globals": {
    "should": true,
    "sinon": true,
    "__VERSION__": true,
    "__NAME__": true,
    "__PACKAGE_URL__": true
  },
  "rules": {
    "mocha-no-only/mocha-no-only": "off",
    "require-jsdoc": [
      "error"
    ],
    "valid-jsdoc": [
      "error"
    ]
  }
}
