{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:flowtype/recommended"],
  "plugins": ["prettier", "import", "flowtype", "mocha-no-only"],
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "amd": true,
    "commonjs": true
  },
  "globals": {
    "should": true,
    "sinon": true,
    "__VERSION__": true,
    "__NAME__": true,
    "__PACKAGE_URL__": true,
    "__CONFIG_DOCS_URL__": true
  },
  "rules": {
    "prettier/prettier": "error",
    "mocha-no-only/mocha-no-only": "off",
    "require-jsdoc": ["error"],
    "valid-jsdoc": ["error"]
  }
}
