conditions: v1
sudo: required
dist: xenial
language: node_js
node_js:
  - 'node'
env:
  global:
    - NODE_OPTIONS="--openssl-legacy-provider"

addons:
  chrome: stable

services:
  - xvfb
cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - export DISPLAY=:99.0
  - chmod +x ./scripts/travis.sh
  - chmod +x ./scripts/after_deploy.sh

script: bash ./scripts/travis.sh

stages:
  - Tests
  - Release canary
  - Release

jobs:
  fast_finish: true
  include:
    # https://docs.travis-ci.com/user/build-stages/deploy-github-releases/
    - stage: Release
      if: (tag IS present)
      name: 'Release'
      env: TRAVIS_MODE=release
      deploy:
        - provider: script
          on:
            tags: true
            all_branches: true
          script: bash ./scripts/after_deploy.sh "$JENKINS_TAG_TOKEN"
    # publish canary package if on master
    - stage: Release canary
      if: (branch = master) AND (type != pull_request) AND commit_message !~ /^chore\(release\)/ AND commit_message !~ /^(chore).*(update dist)$/
      name: 'Release canary'
      env: TRAVIS_MODE=releaseCanary
    # Required tests
    - stage: Tests
      if: (branch = master) OR (tag IS present) OR (type = pull_request)
      name: 'Running lint'
      env: TRAVIS_MODE=lint
    - stage: Tests
      if: (branch = master) OR (tag IS present) OR (type = pull_request)
      name: 'Running Flow type check'
      env: TRAVIS_MODE=flow
    - stage: Tests
      if: (branch = master) OR (tag IS present) OR (type = pull_request)
      name: 'Running unit tests'
      env: TRAVIS_MODE=unitTests
