{
  "extends": [
    "plugin:mocha/recommended"
  ],
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-skipped-tests": "error",
    "mocha/no-exclusive-tests": "error",
    "mocha/no-mocha-arrows": "off",
    "max-len": ["warn", { "code": 200 }]
  }
}