body {
  background-color: #212121;
  padding: 0;
  margin: 0;
  height: 300vh;
}

#player-placeholder {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 640px;
  height: 360px;
}

#player-placeholder.out-of-view {
  margin-top: 0px;
  margin-bottom: 0px;
  top: 95vh;
}
