body{
  display: flex;
  flex-direction: column;
}

.kaltura-player-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.playerCont{
  height: 700px;
  width: 500px;
  align-self: center;
}

.downloadSection{
  align-self: center;
  display: flex;
  font-family: Arial;
  color: white;
}

.btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #b7ccdb;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 115px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 20px;
  height: 51px;
  line-height: 51px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.downloaded{
  background: green;
}

.selectTracks{
  width: 150px;
  height: 30px;
  margin-top: 20px;
}

.selectTracksBtn{
  width: 70px;
  height: 30px;
  margin-top: 20px;
  display: block;
}


.bitrateSelectionInput{
  margin-top:10px;
  width: 200px;
}

.bitrateSelectionLabel{
  position: relative;
  text-align: left;
  margin-top: 10px;
}

.loader,
.loader:before,
.loader:after {
  background: #1756b7;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #1d08c4;
  text-indent: -9999em;
  margin: 22px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 1em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 2em;
  }
}


.loader.hide{
  display: none;
}
