body {
  background-color: #212121;
  padding: 0;
  margin: 0;
  text-align: center;
}

#player-placeholder {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 640px;
  height: 360px;
}
